
<h1 style="margin: 1%; color: black">{{detail.title}}</h1>
<h2 style="margin: 1%; font-size: 1.6rem; color: black">created on {{detail.date}} <br><hr style="border: 1px solid #F0F0F0; margin: 1%">{{detail.body|safe|linebreaks}}</h2>
<hr style="border: 1px solid #F0F0F0; margin: 1%">
<div style="margin: 1%">
<h2>Share it on</h2>
<a href="#" style="margin: 6px;"><i class="skill-bo__icon fab fa-facebook-f"></i></a>
<a href="#" style="margin: 6px;"><i class="skill-bo__icon fab fa-twitter"></i></a>
<a href="#" style="margin: 6px;"><i class="skill-bo__icon fab fa-instagram"></i></a>
<a href="#" style="margin: 6px;"><i class="skill-bo__icon fab fa-whatsapp"></i></a>
</div>
